<?php

$header = <<<'EOF'
This file is part of the ApiExtension package.

(c) Vincent Chalamon <vincentchalamon@gmail.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
EOF;

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony' => true,
        'ordered_imports' => true,
        'phpdoc_order' => true,
        'linebreak_after_opening_tag' => true,
        'no_useless_else' => true,
        'protected_to_private' => true,
        'array_syntax' => ['syntax' => 'short'],
        'header_comment' => ['header' => $header],
    ])
    ->setFinder(
        PhpCsFixer\Finder::create()
            ->exclude('vendor')
            ->exclude('features/app/cache')
            ->in(__DIR__)
    )
;
