default:
    calls:
        error_reporting: 16383 # E_ALL & ~E_USER_DEPRECATED
    suites:
        default:
            contexts:
                - ApiExtension\Context\ApiContext
                - ApiExtension\Context\FixturesContext
                - FeatureContext
    extensions:
        FriendsOfBehat\SymfonyExtension:
            kernel:
                environment: test
                debug: true
                path: features/app/Kernel.php
                class: ApiExtension\App\Kernel
        ApiExtension:
            services:
                metadataFactory: '@test.api_platform.metadata.resource.metadata_factory.annotation'
                iriConverter: '@test.api_platform.iri_converter'
                registry: '@doctrine'
                propertyInfo: '@test.property_info'
                annotationReader: '@test.annotation_reader'
                router: '@test.router'
