default:
    calls:
        error_reporting: 16383 # E_ALL & ~E_USER_DEPRECATED
    suites:
        default:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - Behatch\Context\RestContext
                - Behatch\Context\JsonContext
                - ApiExtension\Context\ApiContext
                - ApiExtension\Context\FixturesContext
                - FeatureContext:
                    doctrine: '@doctrine'
                    cacheDir: '%%kernel.cache_dir%%'
    extensions:
        Behat\Symfony2Extension:
            kernel:
                class: ApiExtension\App\Kernel
        Behat\MinkExtension:
            base_url: 'http://www.example.com/'
            sessions:
                default:
                    symfony2: ~
        Behatch\Extension: ~
        ApiExtension: ~
