default:
    calls:
        error_reporting: 16383 # E_ALL & ~E_USER_DEPRECATED
    suites:
        default:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - Behatch\Context\RestContext
                - Behatch\Context\JsonContext
                - ApiExtension\Context\ApiContext
                - ApiExtension\Context\FixturesContext
                - FeatureContext:
                    doctrine: '@doctrine'
                    cacheDir: '%%kernel.cache_dir%%'
    extensions:
        Behat\Symfony2Extension:
            kernel:
                class: ApiExtension\App\Kernel
        Behat\MinkExtension:
            base_url: 'http://www.example.com/'
            sessions:
                default:
                    symfony2: ~
        Behatch\Extension: ~
        ApiExtension:
            guessers:
                - ApiExtension\App\Populator\Guesser\GuidGuesser
            services:
                metadataFactory: '@test.api_platform.metadata.resource.metadata_factory.annotation'
                iriConverter: '@test.api_platform.iri_converter'
                registry: '@doctrine'
                propertyInfo: '@test.property_info'
                annotationReader: '@test.annotation_reader'
                router: '@test.router'
